extends layout

block content
  h1 Palvelimet
  hr
  ul
    each server in servers
      li
        a(href=root+'server/'+server._id) #{server.name}
  br
  h1 Sovellukset
  hr
  ul
    each app in applications
      li
        a(href=root+'application/'+app._id) #{app.name}