form.new-item-form(action=root+'api/integration', method='POST')
  .form-group
    label.control-label(for='new-integration-name') Nimi:
    input#new-integration-name.form-control(type='text', name='name')
  .form-group
    label.control-label(for='new-integration-description') Kuvaus:
    textarea#new-integration-description.form-control