extends layout

block content
  h1 #{server.name}
  hr
  p #{server.description}
  br
  h3 Sopimus
  p
    a(href='#') Lis채채 sopimus
  br
  h3 Sovellukset
  div
    ul
      each app in server.applications
        li= app
    a(href='#') Lis채채 sovellus